---
---

<footer class="w-full py-6 border-gray-800 border-t">
    <div class="flex items-center justify-center">
        <a class="hover:underline text-gray-500" href="https://creativecommons.org/licenses/by/4.0/">Attribution 4.0 International (CC BY 4.0)</a>
    </div>
</footer>
