---
import Base from './Base.astro'

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Base>
    <Header />
    <main class="flex justify-center items-center w-full py-6 px-6">
        <article class="prose prose-invert text-justify w-full md:w-[720px] h-full">
            <slot />
        </article>
    </main>
    <Footer />
</Base>
